body {
  background: #faf8f6;
  color: #0f3746;  
  font-family: "Chaparral Pro", "Georgia", serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

h2, h3, h4 {
  font-weight: normal;
}

a:link, a:visited {
  color: #0278b0;
}

header {

}

header img {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -100px;
}

h2 {
  font-size: 36px;
  margin: 20px auto 10px auto;
}

section {
  background-image: url(texture.png);
  -webkit-box-shadow: inset rgba(0,0,0,.2) 0 0 7px;
  margin-top: 135px;
  padding: 40px 0 10px 0;
}

div {
  padding: 20px;
}

input, button {
  width: 200px;
}

form {
  margin: 10px 0 30px 0;
}

input {
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
  -webkit-box-shadow: inset rgba(0,0,0,.2) 0 0 7px;
  border: 1px solid #d3d3d3;
  margin-right: 10px;
  text-align: center;
  font-family: "Chaparral Pro", "Georgia", serif;
  color: #0f3746; 
  font-size: 24px;
}

footer {
  margin: 40px 0;
}

button {
  background: #ff8e08;
  border: 3px solid #fea945;
  border-radius: 3px;
  font-weight: 300;
  color: #fff;
  text-transform: lowercase;
  font-family: "Chaparral Pro", "Georgia", serif;
  font-size: 24px;
}

@media screen and (max-width: 500px) {
  h2 {
    width: 100%;
    font-size: 30px;
  }

  h2 br {
    display: inline;
    margin-right: 5px;
  }
  input {
    margin-right: 0;
    margin-bottom: 20px;
  }
  button {
    font-size: 18px;
    padding: 8px 10px;
  }
}